<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{Base::layout(~{::section})}">
	<head>
		<meta charset="UTF-8">
		<title>E-Books | Forgot Password</title>
	</head>
	<body>
		<section>
			<div class="container">
				<div class="row d-flex justify-content-center align-items-center" style="height:80vh">
					<div class="col-md-5">
						<div class="card">
							<div class="card-head bg-light p-3 text-center">
								<h3 class="fw-bold">Forgot Password</h3>
							</div>
							<div class="card-body">
								<!-- ALERT MESSAGE STARTS -->
								<div class="alert alert-danger" th:if="${session.failMsg}">
									<p class="text-center fw-bold">[[${session.failMsg}]] 😡😡😡</p>
									<th:block th:text="${@helper.removeSessionMessage()}"></th:block>
								</div>
								<!-- ALERT MESSAGE ENDS -->
								<form  th:action="@{/checkEmailAndMobileNumber}" method="post">
									<div class="form-group mb-3">
										<label for="email">Enter Your Email</label>
										<input type="text" class="form-control" id="email" name="email" autocomplete="off"/>
									</div>
									<div class="form-group mb-3">
										<label for="mobile">Enter Your Mobile Number</label>
										<input type="mobile" class="form-control" id="mobile" name="mobileNumber" autocomplete="off"/>
									</div>
									<div class="form-group mt-4 mb-3">
										<input type="submit" value="Next" class="btn btn-primary form-control" />
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>