<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/User/Base::layout(~{::section})}">
	<head>
		<meta charset="UTF-8">
		<title>E-Book Management System | Help line</title>
	</head>
	<body>
		<section>
			<div class="container">
				<div class="row p-5">
					<div class="col-md-4 offset-md-4 text-center">
						<div class="text-success">
							<i class="fa-solid fa-square-phone fa-5x"></i>
						</div>
						<h3>24*7 Service</h3>
						<h3>Help Line Number</h3>
						<h5>+91 6291834919</h5>
						<a th:href="@{/user/home}" class="btn btn-primary">Home</a>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>