<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{User/Base::layout(~{::section})}">
	<head>
		<meta charset="UTF-8">
		<title>E-Book Management System | Setting</title>
	</head>
	<body>
		<section>
			<div class="container">
				<h3 class="text-center mt-2"> Hello, <span th:text="${user.fullName}"></span> </h3>
				<div class="row">
					<div class="col-md-4 mt-3">
						<a th:href="@{/user/sellBook}" class="text-decoration-none">
							<div class="card">
								<div class="card-body text-center">
									<i class="fa-solid fa-book fa-3x"></i>
									<h4 class="text-dark">Sell Book</h4>
									<br />
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4 mt-3">
						<a th:href="@{/user/yourOldBooks}" class="text-decoration-none">
							<div class="card">
								<div class="card-body text-center">
									<i class="fa-solid fa-book-open fa-3x text-success"></i>
									<h4 class="text-dark">Old Books</h4>
									<br />
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4 mt-3">
						<a th:href="@{/user/editProfile}" class="text-decoration-none">
							<div class="card">
								<div class="card-body text-center">
									<i class="fa-solid fa-id-card fa-3x profile-id"></i>
									<h4 class="text-dark">Edit Profile</h4>
									<br />
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4 mt-3">
						<a th:href="@{/user/myOrders}" class="text-decoration-none">
							<div class="card">
								<div class="card-body text-center">
									<i class="fa-solid fa-box-open fa-3x text-warning"></i>
									<h4 class="text-dark">My Orders</h4>
									<p class="text-dark">Track Your Order</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4 mt-3">
						<a th:href="@{/user/deleteAccount}" class="text-decoration-none">
							<div class="card">
								<div class="card-body text-center">
									<i class="fa-solid fa-trash fa-3x text-danger"></i>
									<h4 class="text-dark">Delete Account</h4>
									<p class="text-dark">Delete Your Information</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4 mt-3">
						<a th:href="@{/user/helpLineService}" class="text-decoration-none">
							<div class="card">
								<div class="card-body text-center">
									<i class="fa-solid fa-headset fa-3x text-info"></i>
									<h4 class="text-dark">Help Center</h4>
									<p class="text-dark">24*7 Service</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>